{% extends "base.html" %}

{% block content %}
<main class="form-signin text-center container">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please enter new password</h1>


        <div class="form-floating">
            <input type="password" class="form-control" id="floatingInput" name="new_password1" placeholder="New password">
            <label for="floatingInput">New password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Repeat new password" name="new_password2">
            <label for="floatingPassword">Repeat new password</label>
        </div>

        {% if form.new_password2.errors %}
            <div class="alert alert-danger alert-dismissible">
                <strong>Error!</strong> {{form.new_password2.errors}}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</main>
{% endblock content %}