{% extends "base.html" %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
        {% for genre in genres %}
          <div class="col">
            <div class="card shadow-sm">
                <img src="{{genre.image.url}}" width="100%">
                <div class="card-body">
                <p class="card-text">{{genre}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ genre.get_genre_url }}">Show {{genre}}'s books</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock content %}