{% extends 'base.html' %}
{% block content %}
<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">О нас</h4>
          <p class="text-muted">Приветствую Вас в моем магазине книг! Здесь вы сможете приобрести популярные книги разных жанров и авторов.</p>
          <p class="text-white">Всего книг: {{numb}}</p>
          <p class="text-white">Всего авторов: {{authors}}</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Контакты</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Подписать на Twitter</a></li>
            <li><a href="#" class="text-white">Лайк на Facebook</a></li>
            <li><a href="#" class="text-white">Напишите мне/a&gt;</a></li><a href="#" class="text-white">
          </a></ul><a href="#" class="text-white">
        </a></div><a href="#" class="text-white">
      </a></div><a href="#" class="text-white">
    </a></div><a href="#" class="text-white">
  </a></div><a href="#" class="text-white">
  </a><div class="navbar navbar-dark bg-dark shadow-sm"><a href="#" class="text-white">
    </a><div class="container"><a href="#" class="text-white">
      </a><a href="#" class="navbar-brand d-flex align-items-center">
        <strong>{% if author %} {{author.last_name}}'s Catalog {% elif genre %} {{genre}}'s Catalog {% else %}Book Catalog {% endif %}</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
        {% for book in books%}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{book.image.url}}" width="100%" height="300px">
              <div class="card-body" style="height: 100%">
                <p class="card-text" style="height: 33px">Title: {{book.title}}</p>
                <p>
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                      href="{{ book.author.get_author_url }}">Author: {{book.author}}</a>
                  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group" style="width: 100%">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ book.get_book_url }}">Show</a>
                    <a type="button" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
              </div>
              <span class="badge bg-success">{{book.price}}$</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}